<% provide(:title, "Home") %>
<div id="home-page">
	<%=link_to  image_tag("wroof-01.png", alt: "login",  :class => "main-imgs", :id => 'rootIcon') , root_url%>
	<div id="icons">
	<h1 id="name-icon"> W'roof </h1>
	<h4 id="sub-icon"> Bowl </h4>
	<%=  image_tag("bowl-01.png", alt: "login",  :class => "main-imgs", :id => 'bowlIcon') %>
	<p id="sub-header"> - we keep the pooches fed - </p> 
</div>

	<div id="app-info">

		<div class="home-intro" id="about">
			<h4 class="home-headers"> ABOUT US </h4>
			<hr>
			<p> We love dogs. We love making sure that
				every dog is happy and playful. We believe that 
				a happy and playful dog is first and foremost a 
				well-fed dog. So we take it upon ourselves to 
				ensure that all pooches are well-fed and cared for
				at all times by offering giftcards for petfood and
				immediate needs. That pooch could be my pooch's friend.</p>
		</div>

		<div class="home-intro" id="howItWorks">
			<h4 class="home-headers"> HOW IT WORKS </h4>
			<hr>
			<p> We raise funds to buy giftcards to petstores and
				offer these cards to pooches who need the some 
				help. Offering a giftcard every month allows the
				pooches to have the food they need and a few other 
				essential items to get them through the month. We also
				offer grooming and vaccination funds when we can in raffle
				draws. </p>
		</div>


		<div class="home-intro" id="feed">
			<h4 class="home-headers"> BE A FRIEND </h4>
			<hr>
			<p> Please click the button below and give to become part of something wonderful. We all love to take care of our pets, lets help care for their friends in need.</p>

			<button id="baf"> BE A FRIEND </button>
		</div>

		<div class="home-intro" id="request">
			<h4 class="home-headers"> REQUEST </h4>
			<hr>
			<p> Every pooch deserves love. Your pooch is the friend my pooch hasn't met yet. Enter your address so we can send you the giftcard to care for your pooch. </p>

			<button id="chowbttn"> COLLECT CHOW</button>
		</div>

	</div>
</div>

<div class="home-opts" id="friend">
	<h1 style="text-align: center; font-family: 'Maven Pro', sans-serif;"> GIVE HERE </h1>
	<a id="friends" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=thelovelypractice%40gmail.com&item_name=Ensure+pooches+are+well-fed&currency_code=USD&source=url"> <%=  image_tag("wroof-01.png", alt: "login",  :class => "main-imgs", :id => 'wroofIcon') %> <p id="give-home">CLICK THE PAW TO GIVE <p></a>
</div>

<div class="home-opts" id="chow">
	<%= render 'chows/signup'%>
</div>


<div class="home-opts" id="chow-login">
	<%= render 'sessions/login'%>
</div>

