<%= form_for :chow, url: chow_path do |f| %>
<div class="parent-form">
	<h4 style="text-align: center; font-family: 'Maven Pro', sans-serif;"> COLLECT A FEW BOWLS </h4>
<label>
<%= f.email_field :email,:required => true %> 
<div class="label-text" > Email </div>
</label>

<label>
<%= f.password_field :password, :required => true %>
<div class="label-text" > Password </div>
</label>

<label>
<%= f.password_field :password_confirmation, :required => true %>
<div class="label-text" > Password Confirmation </div>
</label>

<label>
<%= f.text_field :street_address, :required => true %>
<div class="label-text" > Street Address </div>
</label>

<label>
<%= f.text_field :city, :required => true %>
<div class="label-text" > City </div>
</label>

<label>
<%= f.select :state, [ 'AK', 'AL', 'AR','AZ', 'CA','CO','CT','DE','FL','GA','HI','IA','ID','IL','IN','KS','KY','LA','MA','MD','ME','MI','MN','MO','MS','MT','NC','ND','NE','NH','NJ','NM','NV','NY','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VA','VT','WA','WI','WV','WY'] %>
<div class="label-text" > State </div>
</label>

<label>
<%= f.number_field :zipcode, :required => true, :min => 00000 %>
<div class="label-text" > Zipcode </div>
</label>

</div>

<div class="pooch-form">

<label>
<%= f.text_field :pooch_name, :required => true %>
<div class="label-text" > Pooch Name </div>
</label>

<label>
<%= f.number_field :age, :required => true, :min => 0, :max => 25 %>
<div class="label-text" > Age </div>
</label>


<label>
<%= f.date_field :birthday, :required => true %>
<div class="label-text" > Birthday </div>
</label>

<label>
<%= f.text_area :special_needs, :required => true, :cols => 45, :rows => 4 %>
<div class="label-text" >  </div>
</label>

</div>
<%= f.submit "Update" , :id => "chow-collect"%>
<% end %>