<% provide(:title, "Dashboard") %>
<div id="chow-dash">
	<h4 style="font-size: 2.5em;  position: fixed;left: 5px; top: 2px;"> Hello, <%= @chow.pooch_name %></h4>
	<%=  image_tag("wroof-01.png", alt: "login",  :class => "main-imgs", :id => 'chow-dash-Icon') %>

	<div id="chow-opts">
		<p class="chow-bttns" id="days-chow"> days left </p>
		<p class="chow-bttns" id="edit-chow"> edit account </p>
		<p class="chow-bttns" id="close-chow"> close account </p>
	</div>

	<div class="chow-main" id="chow-countdown">
		<h4 style="color: #E97726;"> DAYS LEFT TILL NEXT DROP OFF</h4>
		<div id="days-to-chow">
			<p style="font-size: 7.5em; color: white; padding-top: 0px; position: fixed;left: 48%; top: 18%;"> 25 </p>
		</div>
	</div>

	<div class="chow-main"id="edit-acct">
		<%= render 'chows/edit' %>
	</div>


	<hr style="position:fixed; top: 65%; left: 20%;">

	<div id="chow-updates">
		<h4 id="chow-dash-header" style="position:fixed; top: 70%; left: 45%;"> Messages </h4>
		<p style="position:fixed; top: 75%; left: 45%;"> Messages and Notifications go here </p>
	</div>

	<%= link_to "LogOut", logout_path, :id => "logout", method: :delete %>
</div>