// Place all the styles related to the Chows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media screen and (max-width: 2560px) {
	label{
		display: block;
		padding-top: 20px;
		text-align: center;
		letter-spacing: 4px;
	}
	


	label .label-text{
		font-size: 12px;
		line-height: 15px;
  		-moz-transform: translateY(-32px);
  		-ms-transform: translateY(-32px);
  		-webkit-transform: translateY(-32px);
  		transform: translateY(-32px);
  		transition: all 0.3s; 
	}

	input[type=text], input[type=email], input[type=password], input[type=date], input[type=time] {
		background-color: transparent;
    	border: 0;
    	border-bottom: 2px solid #A08E97;
    	color: #A08E97;
    	font-size: 18px;
    	letter-spacing: -1px;
    	outline: 0;
    	padding: 5px 20px;
    	text-align: center;
    	transition: all 0.3s;
    	max-width: 100%;
    	font-family: 'Maven Pro', sans-serif;
    	letter-spacing: 3px;
    	font-size: 0.95em;
	}

	input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, input[type=time]:focus{
  		width: 250px;
	}


	label input[type=text]:focus + div.label-text, label input[type=email]:focus + div.label-text,  label input[type=password]:focus + div.label-text, label input[type=date]:focus + div.label-text, label input[type=time]:focus + div.label-text{
		color: #9C3E97;
  		font-size: 13px;
  		-moz-transform: translateY(-64px);
  		-ms-transform: translateY(-64px);
  		-webkit-transform: translateY(-64px);
  		transform: translateY(-64px);
		
	}



	label input[type=text]:valid + div.label-text, label input[type=email]:valid + div.label-text, label input[type=password]:valid + div.label-text, label input[type=date]:valid + div.label-text, label input[type=time]:valid + div.label-text {
  		font-size: 12px;
  		-moz-transform: translateY(-64px);
  		-ms-transform: translateY(-64px);
  		-webkit-transform: translateY(-64px);
  		transform: translateY(-64px);
	}


	input[type=submit]{
		background-color: #2EA4DD;
		color: #EFE8EE;
		outline: none;
		border-radius: 15px ;
		padding: 15px 30px;
		text-align: center;
		text-decoration: none;
		font-size: 18px;
		margin-top: 10px;
		cursor: pointer;
		border: none;
		transition: all 200ms;
	}

	input[type=submit]:hover, input[type=submit]:focus {
  		#background-color: rgba( 16, 173, 181, 0.75);
  		#letter-spacing: 4px;
  		outline: 0;
  		color: #F0F9FD;
	    background-color: #9C3E97;
  }

  .parent-form{
  	position: fixed;
  	left: 35%;
  	top: 5%;
  }

.pooch-form{
	position: fixed;
	right: 35%;
	top: 5%;
}

#chow-collect{
	position: fixed;
	top: 35%;
	right: 37%;
}

#chow-countdown{
	width: 50%;
	margin: 0 auto;
	height: 550px;
}

.chow-bttns{
	position: fixed;
	right: 10px;
	cursor: pointer;
}

.chow-main{
	display: none;
}

#chow-countdown{
	display: block;
}


#days-chow{
	top: 2px;
}

#edit-chow{
	top: 25px;
}

#close-chow{
	top: 55px;
}

#days-to-chow{
	border-radius: 50%;
	width: 250px;
	height: 250px;
	position: fixed;
	left: 45%;
	top: 25%;
	background-color: #A5509F;

}

#logout{
	text-decoration: none;
	color: #A5509F;
	font-family: 'Maven Pro', sans-serif;
	font-size: 3.5em;
	position: fixed;
	right: 5px;
	bottom: 10px;
}

#chow-dash-Icon{
	width: 130px;
	height: 100px;
	position: fixed;
	top: 125px;
	left: 40px;
	cursor: pointer;
}

}

@media screen and (max-width: 1242px) {
	.parent-form{
		left: 2px;
	}

	.pooch-form{
		right: 2px;
	}
	#chow-collect{
		right: 55px;
	}
}
