// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {

#name-icon{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 9.5em;
	color: #2EA4DD;
	text-align: center;
}

#rootIcon{
	position: fixed;
	right: 5px;
	top: 5px;
	width: 85px;
	height: 75px;
}

#sub-icon{
	font-family: 'Caveat', cursive;
	font-size: 3.5em;
	#color: #B6D433;

	color: #E97726;
	position: fixed;
	left: 60%; 
	top: 25%;
	transform: rotate(-20deg);

}

#bowlIcon{
	position: fixed;
	left: 35%;
	top: 30%;
}

#sub-header{
	text-align: center;
	font-family: 'Maven Pro', sans-serif;
	font-size: 1.5em;
	color: #4C2104;
	position: fixed;
	top: 40%;
	left: 42%;
}

#app-info{
	width: 100%;
	height: 350px;
	position: fixed;
	bottom: 55px;
	left: 0;


}

.home-intro{
	display: inline-block;
	width: 250px;
	height: 350px;
	margin-left: 130px;
}

.home-headers, #chow-dash-header, h4{
	text-align: center;
	font-family: 'Maven Pro', sans-serif;

}

hr{
	width: 65%;
}

p{
	font-family: 'Maven Pro', sans-serif;
	color: #4C2104;
	text-align: center;
	font-size: 0.90em;
}

button{
  		padding: 15px 80px;
  		text-align: center;
  		text-decoration: none;
  		font-size: 16px;
  		margin: 50px 25px;
  		cursor: pointer;
  		background-color: #2EA4DD;
  		border: none;
  		color: white;
  		border: 1px solid #2EA4DD;
  		border-radius: 20px;

}

body{
	background-image: url('prints-01.png');
	background-repeat: repeat;
}

.home-opts{
	width: 50%;
	position: fixed;
	top: 5%;
	left: 30%;
	height: 550px;
	display: none;
}

#friends{
	text-decoration: none;
	position: fixed;
	left: 45%;
	top: 20%;
}

}

@media screen and (max-width: 1242px) {

#app-info{
	overflow: auto;
}

#wroofIcon{
position: fixed;
	left: 30%;
}

#give-home{
	position: fixed;
	top: 50%;
}


}